.d-flex {
  display: flex;
}

bold {
  font-weight: 600;
  color: black;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 30%;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 30px;
}

#profile {
  height: 100%;
  border-radius: 100%;
  margin-right: 15px;
}

.user-infos {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.name-wrapper {
  align-items: center;
}

.user-infos #name {
  font-weight: 700;
}

#verified {
  height: 22px;
  margin-left: 5px;
}

.user-infos #username {
  color: #7b7e83;
  font-weight: 500;
}

#message-text {
  font-size: 24px;
  margin-bottom: 30px;
}

.message-infos {
  display: flex;
  gap: 2px;
  margin-bottom: 15px;
  color: #5b656e;
  font-size: 20px;
}

.bookmarks {
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5b656e;
  font-size: 20px;
}

.post-stats {
  display: flex;
  gap: 20px;
  align-items: center;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
}

svg:hover {
  cursor: pointer;
}

.likes {
  align-items: center;
  gap: 10px;
  color: #5b656e;
  font-weight: 600;
  font-size: 20px;
}

.comments {
  align-items: center;
  gap: 10px;
  color: #5b656e;
  font-weight: 600;
  font-size: 20px;
}